header {

    //Header Mobile
    $header-height: 70px;

    .header-web {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include mobile {
            display: none;
        }

        .header-web-top {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;

            .search-icon-web {
                position: absolute;
                right: 21.61vw;
            }
        }

        .header-web-bottom {
            width: 100%;
            height: 49px;
            background-color: $blue;
            display: flex;
            justify-content: center;
            align-items: center;
            
            ul {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                li {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 190px;
                    
                    a{
                        text-decoration: none;
                        color: $white;
                        display: flex;
                        align-items: center;

                        .arrow-menu {
                            rotate: 90deg;
                            margin-left: 4px;
                        }
                    }
                }
            }
        }
    }

    .header-mobile {
        height: $header-height;
        display: none;
        align-items: center;
        justify-content: space-between;
        padding: 0 24px;
        background-color: $white;
        box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

        @include mobile {
            display: flex;
        }

        .logo {
            max-height: 58px;
        }
    }

    #fullscreen-menu {
        display: none;
        position: fixed;
        top: $header-height;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $blue;

        ul {
            list-style: none;
            padding-top: 55px;
            margin-left: 40px;
            height: calc(100% - $header-height);
            display: flex;
            flex-direction: column;

            li {
                margin-bottom: 48px;
            }

            a {
                text-decoration: none;
                @include font-bold-white-sm;
                text-transform: lowercase;
            }
        }
    }

    /* CSS para exibir o menu em tela cheia */
    .active {
        display: block !important;
    }

    //Header Mobile
}