// CSS Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Oculta a barra de rolagem no corpo do documento */
body {
    overflow: hidden;
  }
  
  /* Estiliza a barra de rolagem no Google Chrome, Safari e Opera */
  ::-webkit-scrollbar {
    width: 0;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #888;
  }
  
  /* Estiliza a barra de rolagem no Firefox */
  /* Nota: a partir do Firefox 64, a propriedade scrollbar-width é suportada */
  /* Você pode remover o prefixo -moz- se estiver usando uma versão atualizada do Firefox */
  body {
    scrollbar-width: thin;
    scrollbar-color: #888 #f1f1f1;
  }
  

// Adicionar scroll suave globalmente
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
    font-family: 'Trebuchet MS' !important;
}

//Variveis de cor
$white: #FFFFFF;
$blue: #389CD6;
$gray: #7B7070;
$transparency: #00000014;
$green: #309D5F;
$pink: #EE6381;

//Mixins de Fonte
@mixin font-bold {
    font-weight: bold;
    font-size: 39px;
    color: $blue;
    // letter-spacing: 20px;
    line-height: 50px;
}

@mixin font-regular {
    font-weight: 400;
    font-size: 20px;
    color: $gray;
    // letter-spacing: 20px;
    line-height: 28px;
}

@mixin font-bold-white {
    font-weight: bold;
    font-size: 20px;
    color: $white;
    // letter-spacing: 20px;
    line-height: 28px;
    text-transform: lowercase;
}

@mixin font-bold-white-md {
    font-weight: bold;
    font-size: 25px;
    color: $white;
    // letter-spacing: 20px;
    line-height: 36px;
    text-transform: lowercase;
}

@mixin font-bold-white-sm {
    font-weight: bold;
    font-size: 16px;
    color: $white;
    // letter-spacing: 20px;
    line-height: 22px;
}

//Mixin de responsividade
@mixin mobile {
    @media screen and (max-width: 600px) {
        @content;
    }
}

//Mixins de Grid
@mixin container {
    max-width: 100%;
    padding: 0 20.41vw;
}

@import 'header';
@import 'home';